
@import "./mixins.scss";
@import './global.scss';


.masOveBox {

    position: absolute;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: #eee8e8ce

}

.burgerMenu {

    display: none;
}

.burgerIcon {

    display: none;
}

@include mobile {

    .burgerMenu {
        display: block;
    }

    .burgerIcon {
    
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
        z-index: 120;
    
        span {
    
            display: block;
            position: absolute;
            height: 5px;
            width: 100%;
            background: var(--primary);
            border-radius: 9px;
            opacity: 1;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;
    
            &:nth-child(1) {
                top: 0px;
            }
    
            &:nth-child(2), &:nth-child(3) {
                top: 10px;
            }
    
            &:nth-child(4) {
                top: 20px;
            }
    
        }
          
    }
    .open {
    
        span {
    
            &:nth-child(1) {
                top: 10px;
                width: 0%;
                left: 50%;
    
            }
    
            &:nth-child(2) {
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }
    
            &:nth-child(3) {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
    
            &:nth-child(4) {
                top: 10px;
                width: 0%;
                left: 50%;
            }
    
        }
    
    }

}

