@use "_font-variables" as fontVar;
@import "./mixins.scss";

.forBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: fontVar.$em4;
  gap: fontVar.$em5;

  .forInpWra {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: fontVar.$em3;

    .inpBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      gap: fontVar.$em1;

      label {
        // color: var(--primary);
        font-family: popBold;
      }

      input {
        font-size: fontVar.$fs1;
        width: 100%;
        border-radius: 15px;
        // border: 2px solid var(--primary);
        background-color: transparent;
        padding: calc(fontVar.$em3);
        // color: var(--primary);
        font-size: fontVar.$fs2;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .butBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: fontVar.$em3;
      width: 100%;
      box-sizing: border-box;
      border-radius: 15px;
      cursor: pointer;
      height: 90%;
      gap: fontVar.$em2;
      background-color: var(--orangePrimary);

      &:hover {
        font-size: calc(fontVar.$fs2 * 1.2);
        height: 100%;
      }
    }
  }
}

@include mobile {
  .forBox {
    width: 100%;
    padding: 0px;
  }
}
