@use "_font-variables" as fontVar;
@import "./mixins.scss";

.productsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 100px);
  margin-top: 100px;

  .layGenPro {
    display: flex;
    width: 100%;
    align-items: center;
    height: 100%;
    gap: calc(fontVar.$em6 * 0.4);

    .menBox {
      display: flex;
      width: auto;
      border-right: 2px solid var(--primary);
      padding: fontVar.$em4;
      height: 70%;
      box-sizing: content-box;
    }

    .conBox {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      height: 100%;
      overflow: hidden;

      .titBox {
        .titTex {
          font-family: popBlack;
          font-size: fontVar.$fs4;
          color: var(--primary);
        }
      }

      .griProWra {
        columns: 3;
        margin-bottom: fontVar.$em3;
        -moz-box-direction: normal;
        overflow-y: scroll;
        padding-right: fontVar.$em3;
      }
    }
  }
}

@include mobile {
  .productsWrapper {
    margin-top: 0px;

    .layGenPro {
      flex-direction: column;

      .conBox {
        overflow-y: scroll;

        .griProWra {
          columns: 1;
          height: auto;
          overflow: unset;
        }
      }
    }
  }
}
